<%- include('../partials/header') %>

<main class="edit-game__page">
  <h1>Edit <%= game.title %></h1>
  <form id="edit-game-form" method="POST" action="/games/<%= game.id %>/edit">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        value="<%= game.title %>"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="10"><%= game.description ?? '' %></textarea>
    </div>

    <div class="form-group">
      <label for="releaseDate">Release Date</label>
      <input type="date" name="releaseDate" id="release-date" value="<%= new Date(game.release_date).toISOString().split('T')[0] %>" />
    </div>

    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" name="imageUrl" id="imageUrl" value="<%= game.cover_image %>" />
      <img class="cover-art" src="<%= game.cover_image %>" alt="image not found" />
    </div>

    <div class="btn-container">
      <a href="/games/<%= game.id %>">Cancel</a>
      <button type="submit">Save Changes</button>
    </div>
  </form>
</main>

<%- include('../partials/footer') %>
