<%- include('../partials/header') %>

<main class="game__page">
  <div class="game-display">
    <img
      src="<%= game.cover_image %>"
      alt="cover art for <%= game.title %>"
      class="game-cover-art"
    />
    <div class="game-info">
      <h1><%= game.title %></h1>
      <p><%= game.description %></p>
    </div>
    <div class="game-ratings">
      <p class="number-rating">4/5</p>
      <p class="star-rating">★★★★☆</p>
      <% if (user && user.role_name === 'admin') { %>
        <a href="/games/<%= game.id %>/edit" class="edit-game-button">Edit</a>
      <% } %>
    </div>
  </div>
  <div class="review-section">
    <% if (user) { %>
      <a href="/games/<%= game.id %>/review">Leave a Review</a>
    <% } %>
    <h1>Reviews</h1>
    <div class="all-reviews">
      <div class="review-card">
        <h1>username</h1>
        <p>I love this game. It was always my favorite of all of the pokemon games. I have so many memories of me and my sister playing for hours trying to catch every single pokemon in the game.</p>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
