<%- include('../partials/header') %>

<%
  function formatDate(d) {
    const date = new Date(d);

    const months = [
      'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
      'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec',
    ];

    const day = date.getDate();
    const month = months[date.getMonth()];
    const year = date.getFullYear();

    let hours = date.getHours();
    const minutes = String(date.getMinutes()).padStart(2, '0');
    const ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12 || 12;

    return {
      day: `${day} ${month} ${year}`,
      time: `${hours}:${minutes}${ampm}`,
    };
  }
%>

<main class="game__page">
  <div class="game-display">
    <div>
      <img
        src="<%= game.cover_image %>"
        alt="cover art for <%= game.title %>"
        class="game-cover-art"
      />
    </div>
    <div class="game-info">
      <h1><%= game.title %></h1>
      <p class="release-date">Release Date: <%= new Date(game.release_date).toLocaleDateString() %></p>
      <p class="description"><%= game.description %></p>
    </div>
    <div class="game-ratings">
      <div class="rating-section">
        <p class="rating-title">Our Rating</p>
        <p class="number-rating"><%= starRatings[2] ? starRatings[2] / 2 : 'None' %></p>
        <p class="star-rating">
          <% for (let i = 0; i < 5; i++) { %> 
            <% const value = starRatings[2] - (i * 2); %>

            <% if (value >= 2) { %>
              <span>&#xf04ce;</span>
            <% } else if (value >= 1) { %>
              <span>&#xf04d0;</span>
            <% } else { %>
              <span>&#xf04d2;</span>
            <% } %>
          <% } %>
        </p>
      </div>
      <div class="rating-section">
        <p class="rating-title">Verified Rating</p>
        <p class="number-rating"><%= starRatings[3] ? starRatings[3] / 2 : 'None' %></p>
        <p class="star-rating">
          <% for (let i = 0; i < 5; i++) { %> 
            <% const value = starRatings[3] - (i * 2); %>

            <% if (value >= 2) { %>
              <span>&#xf04ce;</span>
            <% } else if (value >= 1) { %>
              <span>&#xf04d0;</span>
            <% } else { %>
              <span>&#xf04d2;</span>
            <% } %>
          <% } %>
        </p>
      </div>
      <div class="rating-section">
        <p class="rating-title">User Rating</p>
        <p class="number-rating"><%= starRatings[4] ? starRatings[4] / 2 : 'None' %></p>
        <p class="star-rating">
          <% for (let i = 0; i < 5; i++) { %> 
            <% const value = starRatings[4] - (i * 2); %>

            <% if (value >= 2) { %>
              <span>&#xf04ce;</span>
            <% } else if (value >= 1) { %>
              <span>&#xf04d0;</span>
            <% } else { %>
              <span>&#xf04d2;</span>
            <% } %>
          <% } %>
        </p>
      </div>
      <% if (user && user.role_name === 'admin') { %>
        <a href="/games/<%= game.id %>/edit" class="edit-game-button">Edit</a>
        <% const updatedDate = formatDate(game.updated_at) %>
        <div class="edit-message">
          <p>Last edited:</p>
          <p><%= updatedDate.day %> at <%= updatedDate.time %></p>
        </div>
      <% } %>
    </div>
  </div>
  <div class="reviews">
    <% if (user) { %>
      <% if (currentUserReview && currentUserReview.length !== 0) { %>
        <div class="review-section">
          <h1>Your Review</h1>
          <div class="review-card">
            <div class="top-content">
              <div class="review-content">
                <div class="username-container">
                  <span class="username"><%= currentUserReview.username %></span>
                  <span class="employee-icon <%= currentUserReview.role_name === 'critic' ? '' : 'hide' %>" title="Oasis Employee">&#xf1055;</span>
                  <span class="verified-icon <%= currentUserReview.role_name === 'verified' ? '' : 'hide' %>" title="Verified User">&#xebe9;</span>
                </div>
                <p class="review-message"><%= currentUserReview.comment %></p>
              </div>
              <div class="rating-info">
                <p class="number-rating"><%= currentUserReview.star_rating / 2 %></p>
                <p class="star-rating">
                  <% for (let i = 0; i < 5; i++) { %> 
                    <% const value = currentUserReview.star_rating - (i * 2); %>

                    <% if (value >= 2) { %>
                      <span>&#xf04ce;</span>
                    <% } else if (value >= 1) { %>
                      <span>&#xf04d0;</span>
                    <% } else { %>
                      <span>&#xf04d2;</span>
                    <% } %>
                  <% } %>
                </p>
                <% const userReviewDate = formatDate(currentUserReview.created_at) %>
                <p><%= userReviewDate.day %></p>
                <p><%= userReviewDate.time %></p>
              </div>
            </div>
            <form method="POST" action="/review/delete/<%= game.id %>/<%= currentUserReview.user_id %>">
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          </div>
        </div>
      <% } else { %>
        <div class="current-user-review">
          <p>It looks like you haven't left a review yet.</p>
          <a href="/games/<%= game.id %>/review" class="leave-review">Leave a Review</a>
        </div>
      <% } %>
    <% } %>

    <div class="review-section">
      <h1>Our Reviews</h1>
      <% if (criticReviews.length === 0) { %>
        <p class="no-review-msg">No critic reviews yet.</p>
      <% } %>
      <% for (let criticReview of criticReviews) { %>
        <div class="review-card">
          <div class="top-content">
            <div class="review-content">
              <div class="username-container">
                <span class="username"><%= criticReview.username %></span>
                <span class="employee-icon <%= criticReview.role_name === 'critic' ? '' : 'hide' %>" title="Oasis Employee">&#xf1055;</span>
                <span class="verified-icon <%= criticReview.role_name === 'verified' ? '' : 'hide' %>" title="Verified User">&#xebe9;</span>
              </div>
              <p class="review-message"><%= criticReview.comment %></p>
            </div>
            <div class="rating-info">
              <p class="number-rating"><%= criticReview.star_rating / 2 %></p>
              <p class="star-rating">
                <% for (let i = 0; i < 5; i++) { %> 
                  <% const value = criticReview.star_rating - (i * 2); %>

                  <% if (value >= 2) { %>
                    <span>&#xf04ce;</span>
                  <% } else if (value >= 1) { %>
                    <span>&#xf04d0;</span>
                  <% } else { %>
                    <span>&#xf04d2;</span>
                  <% } %>
                <% } %>
              </p>
              <% const criticReviewDate = formatDate(criticReview.created_at) %>
              <p><%= criticReviewDate.day %></p>
              <p><%= criticReviewDate.time %></p>
            </div>
          </div>
          <% if (user && (user.role_name === 'admin' || user.id === criticReview.user_id)) { %>
            <form method="POST" action="/review/delete/<%= game.id %>/<%= criticReview.user_id %>">
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          <% } %>
        </div>
      <% } %>
    </div>

    <div class="review-section">
      <h1>Verified Reviews</h1>
      <% if (verifiedReviews.length === 0) { %>
        <p class="no-review-msg">No verified reviews yet.</p>
      <% } %>
      <% for (let verifiedReview of verifiedReviews) { %>
        <div class="review-card">
          <div class="top-content">
            <div class="review-content">
              <div class="username-container">
                <span class="username"><%= verifiedReview.username %></span>
                <span class="employee-icon <%= verifiedReview.role_name === 'critic' ? '' : 'hide' %>" title="Oasis Employee">&#xf1055;</span>
                <span class="verified-icon <%= verifiedReview.role_name === 'verified' ? '' : 'hide' %>" title="Verified User">&#xebe9;</span>
              </div>
              <p class="review-message"><%= verifiedReview.comment %></p>
            </div>
            <div class="rating-info">
              <p class="number-rating"><%= verifiedReview.star_rating / 2 %></p>
              <p class="star-rating">
                <% for (let i = 0; i < 5; i++) { %> 
                  <% const value = verifiedReview.star_rating - (i * 2); %>

                  <% if (value >= 2) { %>
                    <span>&#xf04ce;</span>
                  <% } else if (value >= 1) { %>
                    <span>&#xf04d0;</span>
                  <% } else { %>
                    <span>&#xf04d2;</span>
                  <% } %>
                <% } %>
              </p>
              <% const verifiedReviewDate = formatDate(verifiedReview.created_at) %>
              <p><%= verifiedReviewDate.day %></p>
              <p><%= verifiedReviewDate.time %></p>
            </div>
          </div>
          <% if (user && (user.role_name === 'admin' || user.id === verifiedReview.user_id)) { %>
            <form method="POST" action="/review/delete/<%= game.id %>/<%= verifiedReview.user_id %>">
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          <% } %>
        </div>
      <% } %>
    </div>

    <div class="review-section">
      <h1>User Reviews</h1>
      <% if (userReviews.length === 0) { %>
        <p class="no-review-msg">No user reviews yet.</p>
      <% } %>
      <% for (let userReview of userReviews) { %>
        <div class="review-card">
          <div class="top-content">
            <div class="review-content">
              <div class="username-container">
                <span class="username"><%= userReview.username %></span>
                <span class="employee-icon <%= userReview.role_name === 'critic' ? '' : 'hide' %>" title="Oasis Employee">&#xf1055;</span>
                <span class="verified-icon <%= userReview.role_name === 'verified' ? '' : 'hide' %>" title="Verified User">&#xebe9;</span>
              </div>
              <p class="review-message"><%= userReview.comment %></p>
            </div>
            <div class="rating-info">
              <p class="number-rating"><%= userReview.star_rating / 2 %></p>
              <p class="star-rating">
                <% for (let i = 0; i < 5; i++) { %> 
                  <% const value = userReview.star_rating - (i * 2); %>

                  <% if (value >= 2) { %>
                    <span>&#xf04ce;</span>
                  <% } else if (value >= 1) { %>
                    <span>&#xf04d0;</span>
                  <% } else { %>
                    <span>&#xf04d2;</span>
                  <% } %>
                <% } %>
              </p>
              <% const userReviewDate = formatDate(userReview.created_at) %>
              <p><%= userReviewDate.day %></p>
              <p><%= userReviewDate.time %></p>
            </div>
          </div>
          <% if (user && (user.role_name === 'admin' || user.id === userReview.user_id)) { %>
            <form method="POST" action="/review/delete/<%= game.id %>/<%= userReview.user_id %>">
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
