<%- include('../partials/header') %>

<main class="game__page">
  <div class="game-display">
    <div>
      <img
        src="<%= game.cover_image %>"
        alt="cover art for <%= game.title %>"
        class="game-cover-art"
      />
    </div>
    <div class="game-info">
      <h1><%= game.title %></h1>
      <p class="release-date">Release Date: <%= new Date(game.release_date).toLocaleDateString() %></p>
      <p class="description"><%= game.description %></p>
    </div>
    <div class="game-ratings">
      <div class="rating-section">
        <p class="rating-title">Our Rating</p>
        <p class="number-rating">3.5</p>
        <p class="star-rating">
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04d0;</span>
          <span>&#xf04d2;</span>
        </p>
      </div>
      <div class="rating-section">
        <p class="rating-title">Verified Rating</p>
        <p class="number-rating">3.5</p>
        <p class="star-rating">
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04d0;</span>
          <span>&#xf04d2;</span>
        </p>
      </div>
      <div class="rating-section">
        <p class="rating-title">User Rating</p>
        <p class="number-rating">3.5</p>
        <p class="star-rating">
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04d0;</span>
          <span>&#xf04d2;</span>
        </p>
      </div>
      <% if (user && user.role_name === 'admin') { %>
        <a href="/games/<%= game.id %>/edit" class="edit-game-button">Edit</a>
        <%
          // All this just to format the date string
          const date = new Date(game.updated_at);

          const months = [
            'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec',
          ];

          const day = date.getDate();
          const month = months[date.getMonth()];
          const year = date.getFullYear();

          let hours = date.getHours();
          const minutes = String(date.getMinutes()).padStart(2, '0');
          const ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12 || 12;

          const dateString = `${day} ${month} ${year} at ${hours}:${minutes}${ampm}`;
        %>
        <div class="edit-message">
          <p>Last edited:</p>
          <p><%= dateString %></p>
        </div>
      <% } %>
    </div>
  </div>
  <div class="reviews">
    <% if (user) { %>
      <div class="current-user-review">
        <p>It looks like you haven't left a review yet.</p>
        <a href="/games/<%= game.id %>/review" class="leave-review">Leave a Review</a>
      </div>
    <% } %>

    <div class="review-section">
      <h1>Our Reviews</h1>
      <div class="review-card">
        <div class="review-content">
          <div class="username-container">
            <span class="username">username</span>
            <span class="employee-icon" title="Oasis Employee">&#xf1055;</span>
            <span class="verified-icon" title="Verified User">&#xebe9;</span>
          </div>
          <p class="review-message">I love this game. It was always my favorite of all of the pokemon games. I have so many memories of me and my sister playing for hours trying to catch every single pokemon in the game.</p>
        </div>
        <div class="rating-info">
          <p class="number-rating">3.5</p>
          <p class="star-rating">
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04d0;</span>
            <span>&#xf04d2;</span>
          </p>
          <p>16 Jul 2026</p>
          <p>8:10pm</p>
        </div>
      </div>
      <div class="review-card">
        <div class="review-content">
          <div class="username-container">
            <span class="username">username</span>
            <span class="employee-icon" title="Oasis Employee">&#xf1055;</span>
            <span class="verified-icon" title="Verified User">&#xebe9;</span>
          </div>
          <p class="review-message">I love this game. It was always my favorite of all of the pokemon games. I have so many memories of me and my sister playing for hours trying to catch every single pokemon in the game.</p>
        </div>
        <div class="rating-info">
          <p class="number-rating">3.5</p>
          <p class="star-rating">
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04d0;</span>
            <span>&#xf04d2;</span>
          </p>
          <p>16 Jul 2026</p>
          <p>8:10pm</p>
        </div>
      </div>
    </div>

    <div class="review-section">
      <h1>Verified Reviews</h1>
      <div class="review-card">
        <div class="review-content">
          <div class="username-container">
            <span class="username">username</span>
            <span class="employee-icon" title="Oasis Employee">&#xf1055;</span>
            <span class="verified-icon" title="Verified User">&#xebe9;</span>
          </div>
          <p class="review-message">I love this game. It was always my favorite of all of the pokemon games. I have so many memories of me and my sister playing for hours trying to catch every single pokemon in the game.</p>
        </div>
        <div class="rating-info">
          <p class="number-rating">3.5</p>
          <p class="star-rating">
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04d0;</span>
            <span>&#xf04d2;</span>
          </p>
          <p>16 Jul 2026</p>
          <p>8:10pm</p>
        </div>
      </div>
      <div class="review-card">
        <div class="review-content">
          <div class="username-container">
            <span class="username">username</span>
            <span class="employee-icon" title="Oasis Employee">&#xf1055;</span>
            <span class="verified-icon" title="Verified User">&#xebe9;</span>
          </div>
          <p class="review-message">I love this game. It was always my favorite of all of the pokemon games. I have so many memories of me and my sister playing for hours trying to catch every single pokemon in the game.</p>
        </div>
        <div class="rating-info">
          <p class="number-rating">3.5</p>
          <p class="star-rating">
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04d0;</span>
            <span>&#xf04d2;</span>
          </p>
          <p>16 Jul 2026</p>
          <p>8:10pm</p>
        </div>
      </div>
    </div>

    <div class="review-section">
      <h1>User Reviews</h1>
      <div class="review-card">
        <div class="review-content">
          <div class="username-container">
            <span class="username">username</span>
            <span class="employee-icon" title="Oasis Employee">&#xf1055;</span>
            <span class="verified-icon" title="Verified User">&#xebe9;</span>
          </div>
          <p class="review-message">I love this game. It was always my favorite of all of the pokemon games. I have so many memories of me and my sister playing for hours trying to catch every single pokemon in the game.</p>
        </div>
        <div class="rating-info">
          <p class="number-rating">3.5</p>
          <p class="star-rating">
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04d0;</span>
            <span>&#xf04d2;</span>
          </p>
          <p>16 Jul 2026</p>
          <p>8:10pm</p>
        </div>
      </div>
      <div class="review-card">
        <div class="review-content">
          <div class="username-container">
            <span class="username">username</span>
            <span class="employee-icon" title="Oasis Employee">&#xf1055;</span>
            <span class="verified-icon" title="Verified User">&#xebe9;</span>
          </div>
          <p class="review-message">I love this game. It was always my favorite of all of the pokemon games. I have so many memories of me and my sister playing for hours trying to catch every single pokemon in the game.</p>
        </div>
        <div class="rating-info">
          <p class="number-rating">3.5</p>
          <p class="star-rating">
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04ce;</span>
            <span>&#xf04d0;</span>
            <span>&#xf04d2;</span>
          </p>
          <p>16 Jul 2026</p>
          <p>8:10pm</p>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
