<%- include('./partials/header') %>

<main>
  <h1>User Account</h1>
  <h2><%= user.username %></h2>
  <h2><%= user.first_name %> <%= user.last_name %></h2>
  <h2><%= user.email %></h2>
  <% if (user.birthdate) { %>
    <p>Birthday: <%= new Date(user.birthdate).toLocaleDateString() %></p>
  <% } %>
  <p>Join date: <%= new Date(user.created_at).toLocaleDateString() %></p>
  <p>Last updated: <%= new Date(user.updated_at).toLocaleDateString() %></p>
</main>

<%- include('./partials/footer') %>
