<%- include('partials/header') %>

<main class="home__page">
  <% if (user) { %>
    <h1>Welcome back to the Oasis, <%= user.first_name %>!</h1>
  <% } else { %>
    <h1>Welcome to the Oasis!</h1>
  <% } %>

  <div class="home-section new-review-section">
    <h2>Latest Reviews</h2>
    <div class="home-container new-review-container">
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04d0;</span>
          <span>&#xf04d2;</span>
        </p>
      </a>
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04d0;</span>
          <span>&#xf04d2;</span>
        </p>
      </a>
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04d0;</span>
          <span>&#xf04d2;</span>
        </p>
      </a>
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04d0;</span>
          <span>&#xf04d2;</span>
        </p>
      </a>
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04ce;</span>
          <span>&#xf04d0;</span>
          <span>&#xf04d2;</span>
        </p>
      </a>
    </div>
  </div>
  
  <div class="home-section new-release-section">
    <h2>New Releases</h2>
    <div class="home-container new-release-container">
      <% newReleases.forEach((game) => { %>
        <a href="/games/<%= game.id %>" class="game-card new-release-card">
          <h3><%= game.title %></h3>
          <div class="img-container">
            <img src="<%= game.cover_image %>" alt="cover photo for <%= game.title %>" />
          </div>
          <p class="release-date">Released: <%= new Date(game.release_date).toLocaleDateString() %></p>
        </a>
      <% }); %>
    </div>
  </div>

  <div class="home-section latest-section">
    <h2>Recently Added</h2>
    <div class="home-container latest-container">
      <% recentlyAdded.forEach((game) => { %>
        <a href="/games/<%= game.id %>" class="game-card latest-card">
          <h3><%= game.title %></h3>
          <div class="img-container">
            <img src="<%= game.cover_image %>" alt="cover photo for <%= game.title %>" />
          </div>
          <p class="release-date">Released: <%= new Date(game.release_date).toLocaleDateString() %></p>
        </a>
      <% }); %>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
